In [5]:
import pandas as pd

In [8]:
df = pd.read_csv("/Users/evan/.iridium/report.csv")

In [9]:
df

,instrument,state,open_time_local,trade_open_price,initial_units,initial_margin,current_units,realized_profit_loss,spread,close_time_local,trade_close_price,take_profit_price,stop_loss_price,trailing_stop_distance,trailing_stop_price
0,EUR_USD,CLOSED,2019-01-22 09:01:00,1.13670,-33898,770.637,0,-23.7268,3,2019-01-25 01:24:00,1.137100,NaN,NaN,0.005984,1.137044
1,EUR_USD,CLOSED,2019-01-29 18:18:00,1.14414,33254,760.945,0,28.5993,3,2019-02-01 03:21:00,1.145300,NaN,NaN,0.006021,1.145309
2,EUR_USD,CLOSED,2019-02-07 09:01:00,1.13638,-33914,770.784,0,142.7750,3,2019-02-13 03:42:00,1.131870,NaN,NaN,0.005982,1.131782
3,USD_JPY,CLOSED,2019-02-12 09:01:00,110.36600,39180,783.600,0,48.9154,3,2019-02-15 01:30:00,110.533997,NaN,NaN,0.581830,110.537173
4,EUR_JPY,CLOSED,2019-02-21 09:01:00,125.68200,34778,788.612,0,-23.6138,3,2019-02-27 17:36:00,125.637001,NaN,NaN,0.658410,125.641593